# dependencies
node_modules/

# build outputs
dist/
build/
.vite/

# environment files
.env
.env.local
.env.*.local

# macOS files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editor/project settings
.idea/
.vscode/

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# test coverage
coverage/

# TypeScript
*.tsbuildinfo